
/**
 * Mixins
 */
icon(i)
    content: i
    text-transform: none
    font-weight: normal
    font-style: normal
    font-variant: normal
    font-family: 'biz_icons'
    speak: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased

/**
 * Mixin - Font-weight
 */
font = 'Jura', sans-serif
light = 300
regular = 400
medium = 500
semi-bold = 600
bold = 700
/**
 * Mixin - Viewport
 */
viewport = 1200px
gap = 32px
/**
 * Mixin - Responsive
 */
screen-sm = 569px
screen-md = 769px
screen-lg = 993px
screen-sm-max = (screen-sm - 1)
screen-md-max = (screen-md - 1)
screen-lg-max = (screen-lg - 1)

minw(w)
    return unquote('(min-width:' + w + ')')

maxw(w)
    return unquote('(max-width:' + w + ')')

media-min-sm = minw(screen-sm)
media-min-md = minw(screen-md)
media-min-lg = minw(screen-lg)
media-max-sm = maxw(screen-sm-max)
media-max-md = maxw(screen-md-max)
media-max-lg = maxw(screen-lg-max)

container()
    margin-right: auto
    margin-left: auto
    max-width: 'calc(100% - %s)' % gap
    width: viewport

shadowBorder()
    @media media-min-lg
        box-shadow: 800px 0 0 @background, -800px 0 0 @background

    @media media-max-lg
        box-shadow: 300px 0 0 @background, -300px 0 0 @background

bgSkew()
    &:after
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 3px
        content: ''
        transform: skewX(-5deg)

titleProduct()
    position: relative
    margin-top: 50px
    padding: 28px 0 35px
    color: #333333
    text-align: center
    text-transform: uppercase
    font-weight: bold
    font-size: 26px

    @media media-max-lg
        font-size: 18px

    &:before
        position: absolute
        top: 0
        left: 50%
        max-width: 100%
        width: 100px
        height: 5px
        background: var(--primary)
        content: ''
        transform: translateX(-50%)