<h3 class="catalogo__title">Ajuste SRX - Audi Experts</h3>

<div class="catalogo__description">
    <p>Nosso objetivo no SRX Autoparts é ser a primeira escolha para os proprietários e entusiastas da Audi na hora de prestar serviços de manutenção ou atualizar seu carro favorito. Nosso amplo catálogo de peças de manutenção originais Audi, OEM e de reposição oferece aos proprietários da Audi tudo o que precisam para cuidar de seu carro com as peças da mais alta qualidade recomendadas pela própria Audi. Nossa dedicação em fornecer as melhores peças originais de Audi, OEM e de reposição é o motivo pelo qual os proprietários da Audi em todo o mundo escolhem o SRX Autopartscomo sua fonte de peças preferida para atualizações de manutenção e desempenho. Nesta página, você pode encontrar o nosso catálogo completo de peças genuínas Audi, OEM e de reposição para o seu próximo serviço de manutenção, bem como acessórios genuínos Audi, artigos relevantes ou escolher o seu veículo para afinar a sua pesquisa de peças!</p>
</div>

<h3 class="catalogo__title catalogo__title--detail">Deve Ter peças de manutenção Audi</h3>

<div class="catalogo__description">
    <p>A Audi, com seu incrível sistema Quattro, tem sido um elemento básico na vida dos motoristas em todo o mundo. A marca de luxo alemã é sinônimo de atitude em qualquer lugar e gosto refinado, mas exige cuidado e atenção como qualquer outra coisa. Aqui, nossos especialistas da Audi reuniram peças essenciais de serviço e manutenção, incluindo fontes originais da Audi, OEM e de pós-venda, como as necessidades mais comuns que os motoristas da Audi experimentam ao longo da vida útil do carro. Com nossa seleção das melhores peças escolhidas a dedo, você pode abordar seu próximo serviço com confiança, graças a alguma ajuda de seus amigos na SRX Autoparts.</p>
</div>

<div class="catalogo__list">
    <ul>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
    </ul>
</div>

<h3 class="catalogo__title catalogo__title--detail">Peças e acessórios originais Audi para o seu carro</h3>

<div class="catalogo__description">
    <p>Como entusiasta da Audi, sua identidade deve acompanhá-lo quando você sair do banco do motorista. Os acessórios de estilo de vida genuínos da Audi ajudam a continuar o tema da qualidade e a mostrar sua dedicação à marca. Equipe seu carro e você com os pequenos toques de entusiasta que significam seu amor pelos quatro anéis.</p>
</div>

<div class="catalogo__list">
    <ul>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://fakeimg.pl/500/" alt="teste">
                <span>Texto aqui</span>
            </a>
        </li>
    </ul>
</div>