<div class="veiculos">
    <div class="veiculos__container">
        <div class="veiculos__header">
            <h3 class="veiculos__title">Principais Veículos</h3>
        </div>
        <div class="veiculos__main">
        {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="principais-veiculos"}}
        </div>
        <div class="veiculos__footer">
            <a href="#" class="veiculos__link">
                <span>Ver todas</span>
            </a>
        </div>
    </div>
</div>