<div class="menu-filter">
    <div class="menu-filter__header">
        <span>comprar por</span>
        <strong>marcas</strong>
    </div>
    <div class="menu-filter__main">
        <div class="menu-filter__container">
            <div class="menu-filter__label">
                <span>selecione seu veiculo</span>
                <a href="#">meus veículos</a>
            </div>
            <div class="menu-filter__tabs">
                <div class="menu-filter__tab">
                    <span>Audi</span>
                </div>
                <div class="menu-filter__tabs-content">Audi</div>

                <div class="menu-filter__tab menu-filter__tab--actived">
                    <span>BMW</span>
                </div>
                <div class="menu-filter__tabs-content menu-filter__tabs-content--actived">
                    <form action="#">
                        <div class="menu-filter__field">
                            <label for="menu-filter__serie">serie</label>
                            <select name="menu-filter__select" id="menu-filter__serie">
                                <option value="#">serie</option>
                            </select>
                        </div>
                        <div class="menu-filter__field">
                            <label for="menu-filter__chassi">chassi</label>
                            <select disabled name="menu-filter__select" id="menu-filter__chassi">
                                <option value="#">chassi</option>
                            </select>
                        </div>
                        <div class="menu-filter__field">
                            <label for="menu-filter__modelo">modelo</label>
                            <select disabled name="menu-filter__select" id="menu-filter__modelo">
                                <option value="#">modelo</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="menu-filter__tab">
                    <span>Mercedez Benz</span>
                </div>
                <div class="menu-filter__tabs-content">Mercedez Benz</div>

                <div class="menu-filter__tab">
                    <span>MINI</span>
                </div>
                <div class="menu-filter__tabs-content">MINI</div>

                <div class="menu-filter__tab">
                    <span>Porsche</span>
                </div>
                <div class="menu-filter__tabs-content">Porsche</div>

                <div class="menu-filter__tab">
                    <span>Wolkswagen</span>
                </div>
                <div class="menu-filter__tabs-content">Wolkswagen</div>

            </div>
        </div>
    </div>
</div>