color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #ff0000
color1_bg_hover = #cd0000
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #000000
color2_bg_hover = #202020
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #CCCCCC
color3_bg_hover = #f7f7f7
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #ff0000
button_bg_hover = #cd0000
// imagens
select = '/media/interface/images/select.png'
news = '/media/interface/images/news.jpg'
down = '/media/interface/images/down.png'