.add-to-links
    --color: #666666

    &
        margin-bottom: 20px
        padding-bottom: 15px
        border-bottom: solid 1px var(--border-color)

    .ico
        margin-right: 7px
        width: 15px
        height: 15px
        color: var(--primary)

    a
        display: flex
        align-items: center
        color: var(--color)
        text-transform: uppercase
        font-weight: regular
        font-size: 11px

        &:hover
            color: var(--secundary)