.reviews
    &__title
        titleProduct()

    &__resume, &__ratings, &__add
        padding: 0
        box-shadow: none

    &__content
        @media media-max-lg
            display: block

    &__no-reviews
        @media media-max-lg
            padding: 20px 0

    &__resume
        .product-rate
            display: flex
            flex-flow: column nowrap

            .amount, .percent
                order: 1

            .amount
                text-transform: uppercase

            .rating-box
                order: 2

            .circle-percent .on
                stroke-width: 2px

    &__list
        .title
            font-weight: bold
            font-size: 14px

    &__add
        .title
            color: #999999
            font-weight: regular
            font-size: 13px

            span
                display: block
                color: var(--primary)
                text-transform: uppercase
                font-size: 14px
                line-height: 1.5

        .review-summary
            justify-content: flex-start

            label:before
                font-size: 15px

            li
                margin: 0 5px

    .subtitle
        color: var(--primary)
        text-transform: uppercase
        font-weight: bold
        font-size: 13px

#review-form
    input, select, textarea
        box-shadow: none

    .buttons-set
        margin-top: 0
        padding-top: 0

        .button
            bgSkew()

            position: relative
            padding: 0
            height: 25px
            background: none
            box-shadow: none
            text-transform: uppercase
            font-size: 13px

            &:after
                background: var(--primary)

            span
                position: relative
                z-index: 1