.sharing-links
    .list
        justify-content: flex-start
        margin: -2px

    li
        padding: 2px

    a
        border-radius: 50%
        background: var(--secundary)

    .fb-share a:hover
        background: var(--facebook)

    .tt-share a:hover
        background: var(--twitter)

    .wa-share a:hover
        background: var(--whatsapp)

    .pt-share a:hover
        background: var(--pinterest)

    .tb-share a:hover
        background: var(--thumblr)

    .lk-share a:hover
        background: var(--linkedin)