.socials
    .footer &
        display: inline-block
        padding: 10px 0

    &__link
        display: flex
        justify-content: center
        align-items: center
        width: 25px
        height: 25px
        border-radius: 50%
        background: var(--primary)

    &__svg
        width: 13px
        height: 13px

    &__item
        padding: 2px

    &__list
        margin: -2px