.cart
    .page-title
        h1
            display: flex
            justify-content: center
            align-items: center
            margin: 0
            height: 50px
            color: var(--secundary)
            text-align: center
            text-transform: uppercase
            font-weight: bold
            font-size: 26px

        .cart__links
            margin: 0

            @media media-min-lg
                margin-top: -50px

            @media media-max-lg
                margin: 20px 0

    &__links
        margin: 50px 0

        @media media-max-lg
            display: block

        .btn-checkout
            bgSkew()

            position: relative
            margin-left: auto
            max-width: 100%
            width: 250px
            height: 50px
            background: none
            box-shadow: none
            text-transform: uppercase
            font-weight: medium
            font-size: 16px

            @media media-max-lg
                width: 100%

            &:after
                background: var(--primary)

            &:hover
                background: @background

            span
                position: relative
                z-index: 1

        .btn--outline
            padding: 0
            box-shadow: none
            color: var(--primary)
            text-transform: uppercase
            font-weight: medium
            font-size: 16pxa

            @media media-max-lg
                padding: 15px 0
                width: 100%

            &:hover
                background: none
                color: var(--primary)

.cart-table
    footer, .sku, .item-options
        display: none

    header
        background: #ffffff
        color: var(--secundary)

    h2.name
        text-transform: uppercase
        font-weight: bold
        font-size: 14px

        a
            color: currentColor

    main
        border: 0
        background: #ffffff
        box-shadow: 0 0 0 1px var(--border-color)

    .btn-remove
        color: var(--primary)
        text-indent: 0

        &:before
            display: none

        .ico
            width: 10px
            height: 10px
            fill: currentColor

.cart__boxes
    .shipping
        @media media-min-lg
            display: flex
            align-items: center

        .buttons-set
            @media media-min-lg
                margin-bottom: 0

        .shipping-desc, .shipping-postcode label
            display: none

        > h2
            display: flex
            justify-content: flex-start
            align-items: center
            font-size: 0

            @media media-min-lg
                margin-right: 10px
                margin-bottom: 0

            .ico
                margin-right: 5px
                width: 27px
                height: 19px
                fill: var(--primary)

            &:after
                color: #333333
                content: 'Calcule o frete e prazo'
                font-weight: medium
                font-size: 13px

        .shipping-postcode
            margin: 0

        #shipping-zip-form
            display: flex

            #postcode
                height: 32px

            .button2
                display: flex
                justify-content: center
                align-items: center
                height: 32px
                background: none
                box-shadow: none
                color: var(--primary)
                font-weight: bold
                font-size: 14px

                span
                    display: none

                &:before
                    content: 'OK'

    .coupon
        > .title
            display: flex
            align-items: center
            color: #333
            font-weight: medium
            font-size: 14px
            line-height: 1.3

            @media media-min-lg
                margin-bottom: 0
                line-height: 32px
                cursor: pointer

            &:after
                content: 'Possui um cupom de desconto? Clique para inserir'

            .ico
                flex: 0 0 auto
                margin-right: 5px
                width: 20px
                height: 16px
                fill: var(--primary)

            span
                display: none

        &__form
            @media media-min-lg
                display: none

        &.on
            .coupon__form
                @media media-min-lg
                    display: flex

.card__totals
    margin-left: auto
    max-width: 100%
    width: 360px

    .totals
        box-shadow: none

        .title
            display: none

        .totals__table
            td
                font-size: 15px

            tbody
                td
                    padding: 15px 0
                    border-bottom: solid 1px #e5e5e5 !important

            tfoot
                td
                    padding: 15px 0
                    color: var(--primary)

.crosssell
    &__title
        text-align: center
        text-transform: uppercase
        font-weight: bold
        font-size: 26px

    .products__case
        > button
            display: none

    .owl-wrapper-outer
        padding: 10px 0
