.catalogo
    .std &
        &__title
            position: relative
            margin: 0
            padding: 25px 0
            color: var(--secundary)
            text-align: center
            text-transform: uppercase
            font-weight: bold
            font-size: 26px

            &--detail
                margin-top: 50px

                &:before
                    position: absolute
                    top: 0
                    left: 50%
                    max-width: 100%
                    width: 100px
                    height: 5px
                    background: var(--primary)
                    content: ''
                    transform: translateX(-50%)

        &__description
            p
                margin: 5px 0
                color: #666666
                font-weight: regular
                font-size: 16px
                line-height: 1.3

        &__list
            ul
                display: grid
                justify-content: space-between
                margin: 20px -10px
                width: 100%
                grid-template-columns: repeat(4, minmax(50px, 220px))

                @media media-max-sm
                    grid-template-columns: repeat(2, minmax(50px, 220px))

            li
                padding: 10px
                color: var(--secundary)
                list-style: none !important
                text-align: center
                text-transform: uppercase
                font-weight: bold
                font-size: 16px
                line-height: 1.3

            a
                color: currentColor