.category-title, .category-description
    display: none !important

.catalog-category-view, .catalogsearch-result-index
    .col-main
        position: relative

        .category-title + .toolbar, .search-title + .toolbar
            .sorter
                @media media-min-lg
                    position: absolute
                    top: 0
                    right: 0