.category-title, .category-description
    display: none !important

.catalog-category-view, .catalogsearch-result-index, .shopbybrand-index-brandpageview
    .col-main
        position: relative

        .category-title + .toolbar, .search-title + .toolbar
            .sorter
                @media media-min-lg
                    position: absolute
                    top: 0
                    right: 0

.shopbybrand-index-brandpageview .category-view > .toolbar
    .sorter
        @media media-min-lg
            position: absolute
            top: 0
            right: 0