.all-brands-list
    margin: 0

    .brand
        padding: 0

    a
        border: 0
        border-radius: 0
        background: #ffffff
        box-shadow: 0 0 0 1px #e5e5e5

    .title
        margin: 0
        font-size: 14px

.page-title
    &.all-brands
        h1
            padding: 20px 0
            color: #333333
            text-align: center
            text-transform: uppercase
            font-weight: bold
            font-size: 26px